{% load static %}
{% block content %}
<header id="header">
    <div class="d-flex flex-column">
  
      <div class="profile">
        <img src="{% static './img/profile.jpg'%}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Syed Vilayat Ali Rizvi</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://www.github.com/Vilayat-Ali" class="twitter"><i class="bi bi-github"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.instagram.com/unattractive_brat/" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="https://www.linkedin.com/in/syed-vilayat-ali-rizvi-57a249210/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
  
      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="/" class="nav-link scrollto"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="/" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="/" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="/projects/" class="nav-link active scrollto"><i class="bx bx-book-content"></i> <span>Projects</span></a></li>
          <li><a href="/blogs/" class="nav-link"><i class="bx bx-file-blank"></i> <span>Blogs</span></a></li>
          <li><a href="/" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

{% endblock %}
