  {% load static %}
  <!-- Vendor JS Files -->
  <script src="{% static '/vendor/aos/aos.js'%}"></script>
  <script src="{% static '/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static '/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static '/vendor/purecounter/purecounter.js'%}"></script>
  <script src="{% static '/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static '/vendor/typed.js/typed.min.js'%}"></script>
  <script src="{% static '/vendor/waypoints/noframework.waypoints.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/js/index.js'%}"></script>